<!-- ie comptatible -->
<!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>普台書局訂購表單</title>
  </head>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;700&family=Noto+Sans:ital,wght@0,400;0,500;0,700;0,800;1,300&display=swap" rel="stylesheet">
  
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <!-- vue -->
    <script src="https://unpkg.com/vue@next"></script>
  <!-- bootstrap -->
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    crossorigin="anonymous"/>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  <!-- bootstrap icon -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" crossorigin="anonymous"/>
  
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script> -->
  <body>
    <div class="container p-3" id="container">
      <header id="header" class="pt-4 text-center">
        <h1 class="title">普台書局訂購表單</h1>
        <!-- <div id="banner" class="my-5 banner">
          <img src="./logo.jpg" alt="普台書局logo" />
        </div> -->
      </header>
      <main>
        <!-- 注意事項 -->
        <section id="description" class="description p-3 d-flex flex-column justify-content-center align-items-center">
          <h2 class="description_h2 py-2 text-center w-100">注意事項</h2>
          <table border="1">

            <!-- 學年改這裡-->
            <div>112下學期特價時間表如下</div>
            <tr>
              
              <!-- 開始的日期 -->
              <td class="TableDate text-center px-2">11/30</td>
              <td class="tableContent">開始登記</td>
            </tr>
            <tr>
              
              <!-- 結束的日期 -->
              <td class="TableDate text-center px-2">12/31</td>
              <td class="tableContent">登記結束</td>
            </tr>
            <tr>
              
              <!-- 取書的日期 -->
              <td class="TableDate text-center px-2">1/19前</td>
              <td class="tableContent">完成取書(預計)</td>
            </tr>
            <tr>
              <td colspan="2" class="tableContent td-last fs-6"><i class="bi bi-exclamation-circle-fill"></i>未能等待者，請直接門市選購(會員價)</td>
            </tr>
          </table>
            <ul>
              <li>
                <p>本訂單送出前請再次確認欲訂購之項目</p>
              </li>
              <li>
                本表單所選購的項目享有的折扣如下:
                <p>
                  &nbsp;一南一出版社國中自修及考卷 一<span class="mark">77折</span><br>
                  (講義及評量維持<span class="mark">72</span>折)
                </p>
                <p>
                  &nbsp;一康軒、國小南一、翰林出版之自修評量講義及考卷(不含作業簿、隨堂練習...等)
                  一 <span class="mark">72折</span>
                </p>
                <p>
                  &nbsp;一非康軒，南一，翰林出版社之自修評量講義及考卷 一
                  <span class="mark">68折</span>
                </p>
              </li>
              <li>
                表單登記者須<span class="mark">配合時間叫號取書</span>(須等新書到齊再一次取走)
              </li>
              <li>
                急於用書者"請勿登記"，直接來門市購買—折扣以會員價計算
              </li>
              <li>送出後請耐心等待本書局將書備齊，之後會依<span class="mark">表單編號分批叫號取書</li>
              <li>登記後未取者，本店會將其列入<span class="mark">黑名單，將來不再享有本店會員價之折扣</span>。</li>
            </ul>

        </section>
        <!-- <div id="prograssbar">
          <ul>
            <li><a href="">注意<br>事項</a></li>
            <li><a href="#customInfo">個人<br>資訊</a></li>
            <li><a href="">訂單<br>填寫</a></li>
            <li><a href="">確認<br>項目</a></li>
          </ul>
        </div> -->
        <form action="." id="form" method="post">
          <!-- 個人資訊 -->
          <section class="custom_info">
            <fieldset class="mt-3">
            <legend class="text-center p-3">個人訂購資訊</legend>
            <div class="custom_info_content mx-auto">
              <div class="customBox">
                <label for="custom_name">姓名 </label>
                <input  type="text" name="name" placeholder="請輸入姓名" id="custom_name" v-model="custom_data.name" @change="warningText.name=false" required>
              </div>
              <p v-show="warningText.name"class="warningText">{{"請填寫姓名!!!"}}</p>
              <div class="customBox">
                <label for="custom_mail">信箱 </label>
                <input  type="email" name="email" placeholder="請輸入電子信箱" id="custom_mail" v-model="custom_data.mail" @change="warningText.mail=false" required>
                
              </div>
              <p v-show="warningText.mail"class="warningText">{{"請填寫信箱!!!"}}</p>
              <div class="customBox">
                <label for="custom_phone">電話 </label>
                <input  type="tel" name="tel" placeholder="請輸入連絡電話" id="custom_phone" v-model="custom_data.phone" @change="warningText.phone=false" required>
              </div>
              <p v-show="warningText.phone"class="warningText">{{"請填寫電話!!!"}}</p>
            </div>
            <h3 class="type3">訂購項目</h3>
            <div class="purchaseType">
              <label for="seniorOnly"><input type="radio" v-model="purchaseType" value="senior" id="seniorOnly">僅訂購國中參考書
                <br> <span v-show="purchaseType === 'senior'" class="p-3" style="color:rgba(249, 17, 17, 0.695)">填寫此項目者可直接送出</span> </label>
               
              <label for="elemOnly"><input type="radio" v-model="purchaseType" value="elem" id="elemOnly" >僅訂購國小參考書</label>
              <label for="both"><input type="radio" v-model="purchaseType" value="both" id="both">兩者皆有</label>
            </div>
            
            </fieldset>
          </section>
          
          <!-- 訂單填寫 -->
          <section class="order" v-show="(purchaseType === 'elem'||purchaseType === 'both' )">
            <h2 class="orderTitle">訂購列表</h2>
            <p class="filter_title">篩選器</p>
            <div class="filterbox">
              <!-- 版本 -->
              <div class="filter_group">
                <h3 class="filterHeading">版本</h3>
                <div class="filter_option">
                  <label for="edition-k"><input type="radio" name="edition" v-model="filter_data.edition" value="k" id="edition-k">康版</label>
                  <label for="edition-n"><input type="radio" name="edition" v-model="filter_data.edition" value="n" id="edition-n">南版</label>
                  <label for="edition-h"><input type="radio" name="edition" v-model="filter_data.edition" value="h" id="edition-h">翰版</label>
                </div>
              </div>
              <!-- 年級 -->
              <div class="filter_group">
                <h3 class="filterHeading">年級</h3>
                <div class="filter_option">
                  <label for="grade-1"><input type="radio" v-model="filter_data.grade" name="grade" value="1" id="grade-1">1</label>
                  <label for="grade-2"><input type="radio" v-model="filter_data.grade" name="grade" value="2" id="grade-2">2</label>
                  <label for="grade-3"><input type="radio" v-model="filter_data.grade" name="grade" value="3" id="grade-3">3</label>
                  <label for="grade-4"><input type="radio" v-model="filter_data.grade" name="grade" value="4" id="grade-4">4</label>
                  <label for="grade-5"><input type="radio" v-model="filter_data.grade" name="grade" value="5" id="grade-5">5</label>
                  <label for="grade-6"><input type="radio" v-model="filter_data.grade" name="grade" value="6" id="grade-6">6</label>
                </div>
              </div>
              <!-- 科目 -->
              <div class="filter_group">
                <h3 class="filterHeading">科目</h3>
                <div class="filter_option">
                  <label for="subject-a"><input type="radio" name="subject" v-model="filter_data.subject" value="國文" id="subject-a">國語</label>
                  <label for="subject-b"><input type="radio" name="subject" v-model="filter_data.subject" value="數學" id="subject-b">數學</label>
                  <label for="subject-c"><input type="radio" name="subject" v-model="filter_data.subject" value="自然" id="subject-c">自然</label>
                  <label for="subject-d"><input type="radio" name="subject" v-model="filter_data.subject" value="社會" id="subject-d">社會</label>
                  <label for="subject-e"><input type="radio" name="subject" v-model="filter_data.subject" value="生活" id="subject-e">生活</label>
                </div>
              </div>
              <!-- 產品項 -->
              <div class="filter_group">
                <h3 class="filterHeading">品項</h3>
                <div class="filter_option">
                  <label for="type-a"><input type="radio" name="bookType" v-model="filter_data.type" id="type-a"value="自修">自修</label>
                  <label for="type-b"><input type="radio" name="bookType" v-model="filter_data.type" id="type-b"value="評量">評量</label>
                  <label for="type-c"><input type="radio" name="bookType" v-model="filter_data.type" id="type-c"value="門市卷">考卷</label>
                </div>
              </div>
              <div class="filter_btn"><input type="button" value="清除篩選" @click="resetFilter()" class="btn-outline-secondary"></div>
            </div>
            <div class="accrdion" id="accordionBox">
              <!-- 自修評量門市卷 -->
                <div class="accordion-item">
                  <h2 class="accordion-header" id="accordion_header1">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      自修、評量、門市卷
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="accordion_header1" data-bs-parent="#accordionBox">
                    <div class="accordion-body">
                      <table>
                        <tr>
                          <th class="td-bookname">產品項目</th>
                          <th class="td-booknum">數量</th>
                        </tr>
                        <tr v-for="book in book_data.books">
                          <template v-if="grade(book)&&edition(book)&&subject(book)&&type(book)">
                          <td class="td-bookname">{{book.name}}</td>
                          <td class="td-booknum"><input type="number" v-model="book.num" min="0"></td>
                          </template>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              <!-- 作業簿、課堂練習 -->
                <div class="accordion-item">
                  <h2 class="accordion-header" id="accordion_header2">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      作業簿、課堂練習
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="accordion_header2" data-bs-parent="#accordionBox">
                    <div class="accordion-body">
                      <table>
                        <tr>
                          <th class="td-bookname">產品項目</th>
                          <th class="td-booknum">數量</th>
                        </tr>
                        <tr v-for="book in book_data.workbook">
                          <template v-if="grade(book)&&edition(book)&&subject(book)&&type(book)">
                            <td class="td-bookname">{{book.name}}</td>
                            <td class="td-booknum"><input type="number"  v-model="book.num" min="0"></td>
                          </template>
                        </tr>
                  </table>
                    </div>
                  </div>
                </div>
              <!-- 講義 -->
                <div class="accordion-item">
                  <h2 class="accordion-header" id="accordion_header3">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      講義
                    </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="accordion_header3" data-bs-parent="#accordionBox">
                    <div class="accordion-body">
                      <table>
                        <tr>
                          <th class="td-bookname">產品項目</th>
                          <th class="td-booknum">數量</th>
                        </tr>
                        <tr v-for="book in book_data.lecture">
                          <template v-if="grade(book)&&edition(book)&&subject(book)&&type(book)">
                            <td class="td-bookname">{{book.name}}</td>
                            <td class="td-booknum"><input type="number"  v-model="book.num" min="0"></td>
                          </template>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              <!--     月考模擬試題 -->
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingExam">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExam" aria-expanded="false" aria-controls="collapseExam">國小月考模擬試題
                    </button>
                  </h2>
                  <div id="collapseExam" class="accordion-collapse collapse" aria-labelledby="headingExam" data-bs-parent="#accordionBox">
                    <div class="accordion-body examBody" data-pd>
                            <!--         內容說明 -->
                      <p class="examDescription">
                              請輸入年級及哪個國小，再點選下方<span class="fw600">新增項目</span>按鈕，若不要可以點旁邊<i class="x-cir-pd5 bi bi-x-circle"></i>按鈕取消
                      </p>
                            <!--         選擇列表 -->
                            <div class="examSelect_group">
                              <select name="examGrade" class="examSelect examGrade" v-model="exam_data.grade">
                                <option value="" selected disabled>選擇年級</option>
                                <option value="一">一年級</option>
                                <option value="二">二年級</option>
                                <option value="三">三年級</option>
                                <option value="四">四年級</option>
                                <option value="五">五年級</option>
                                <option value="六">六年級</option>
                              </select>
                              <select name="examSchool" class="examSelect" v-model="exam_data.school">
                                <option value="" selected disabled>選擇國小</option>
                                <option v-for="list in exam_data.school_list" :value="list">
                                  {{ list }}
                                </option>
                                <option value="other">其他</option>
                              </select>
                              <input type="text" class="examOtherSchool" :disabled="isOther" :placeholder="exam_data.placeholder" >
                              <input type="number" max="100" min="0" class="examNum" placeholder="數量">
                              <div class="examBtn">
                                <button type="button" class="btn-primary" @click="addExam()">新增項目</button>
                              </div>
                            </div>
                              <p class="warningText">{{ exam_data.warningText }}</p>
                              <ul v-for="obj in exam_data.confirmList" class="examLists">
                                <li class="exam_confirmList" >{{ `${obj.grade}年級${obj.school}月考模擬試題 * ${obj.num}本` }}<button type="button" class="bi x-cir-mg5 bi-x-circle" @click="removeExam(obj)"></button></li>
                              </ul>
                              
                          </div>
                      </div>
  
                    </div>
              </div>
              <!-- 英文專區 -->
              <div class="accordion-item">
                <h2 class="accordion-header" id="accordion_header4">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    國小英文測驗卷 <span class="ms-2" style="color: hsl(0, 74%, 61%);">New!</span>
                  </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="accordion_header4" data-bs-parent="#accordionBox">
                  <div class="accordion-body">
                    <p class="my-2 text-danger">目前英文參考書品項較少</p>
                    <table>
                      <tr>
                        <th class="td-bookname">產品項目</th>
                        <th class="td-booknum">數量</th>
                      </tr>
                      <tr v-for="item in book_data.engbook" :key="item.name">
                        <template v-if="grade(item)">
                          <td class="td-bookname" :class="{'Itemdisabled' : item.grade===6}" >{{item.grade===6 ? `${item.name}(舊課綱尚未出版)` : item.name}}</td>
                          <td class="td-booknum"><input type="number"  v-model="item.num" min="0" :disabled="item.grade===6"></td>
                        </template>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
          </section>
          <!-- 確認訂單 -->
          
          <div class="formBtn">
            <input type="submit" value="提交表單" @click.prevent="conFirm()">
          </div>
        </form>
      </main>
      <div class="goTop"><a href="#form">Top!</a></div>
      
      <!-- modal -->
      <div class="modal fade bd-example-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="orderModal">
        <div class="modal-dialog modal-lg">
          <div class="modal-content p-3">
            <section id="confirmOrder" class="confirmOrder">
            
                <h3 class="text-center my-3">以下是您所選購的項目，請確認</h3>
              
              <div class="ConfirmCustomInfo">
                <h4 class="confirmOrderTitle mb-2">訂購個人資料</h4>
                <ul class="ConfirmCustomInfo_ul">
                  <li class="comfirmData confirmOrder_name">訂貨人姓名 : &nbsp;&nbsp;{{custom_data.name}}</li>
                  <li class="comfirmData confirmOrder_email">訂貨人信箱 : &nbsp;&nbsp;{{custom_data.mail}}</li>
                  <li class="comfirmData confirmOrder_phone">訂貨人電話 : &nbsp;&nbsp;{{custom_data.phone}}</li>
                </ul>
                
              </div>
                <div class="purchaseInfo">
                <h4 class="confirmOrderTitle">訂購項目</h4>
                <p v-if="isSenior" class="fs-4 fw-600">{{purchaseType_Text}}</p>
                  <ul>
                    <template v-for="books in totalBooks">
                    <li v-if="isSelect(books)">{{`${books.name} * ${books.num} 本`}}</li>
                    </template>
                  </ul>
                  <ul>
                    <template v-for="obj in exam_data.confirmList">
                      <li>{{ `${obj.grade}年級${obj.school}月考模擬試題 * ${obj.num}本` }}</li>
                    </template>
                  </ul>
                  
                </div>
            </section>
            <div class="btn_wrap">
              <div class="comfirm">
                <label for="confirm_checkbox" class="confirm_checkbox ms-4"><input type="checkbox" name="confirm_checkbox" id="confirm_checkbox" v-model="isConfirm">我已確認我選購的項目無誤</label>
              </div>
              <div class="orderBtn my-3">
                <button type="button" @click="closeModal()" class="btn btn-secondary">取消</button>
                <button type="button" class="btn btn-primary" :disabled="!isConfirm" @click="conFirm()">送出</button>
              </div>
            </div>
            
          </div>
        </div>
      </div>

    </div>
  </body>

  <!-- css -->
  <link rel="stylesheet" href="./style.css"/>
  <!-- js -->
  <script src="./book.js" type="module"></script>
  <script src="./all.js" type="module"></script>

</html>
