:root {
  --sectionTitle: 4rem;
  --sectionSmallTitle: 2rem;
  --container-bg-color : #fffacd;
}

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  vertical-align: baseline;
  box-sizing: border-box;
}
html body {
  font-size: 18px;
}

.container {
  background: var(--container-bg-color);
  width: 70vw;
  padding: .5em;
}

#header {
  .title{
    font-size: var(--sectionTitle);
  }
  padding-top: 2em;
  text-align: center;
  #banner {
    margin: 48px;
    img {
      max-width: 60vw;
      max-height: 480px;
      // height: 50vh;
    }
  }
}
@media (max-width:768px) {
  :root{
    --sectionTitle: 3rem
  }
  body{
    font-size: 16px;
  }
}
main {
  margin: 2rem 0;
  position: relative;
}
//gotop btn
.gotop{
  border-radius: 50%;
  width: 50px;
  line-height: 50px;
  text-align: center;
  aspect-ratio: 1/1;
  background: cyan;
  position: fixed ;
  right: 2%;
  bottom: 3%;
}
.redcolor{
  color:red;
}
.order{
  padding:  100px 0 50px;
}
//購買說明
#description {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px dotted red;
  background-color: hsl(70 80% 70%);
  .description_h2{
    padding: .5rem 0 ;
    border-bottom: 2px solid #777;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  ul{
    .mark{
      font-weight: 600;
      background: inherit;
      font-size: 1.3rem;
    }
    li:not(last-child){
      padding-bottom: 18px;
    }
  }
}
.alerttxt{
  color:hsl(0, 80%, 50%);
  font-weight: 600;
}
.description table{
  margin: 5px 0 20px;
  border-collapse: collapse;
  font-size: 1.5rem;
  td{
    border: 1px solid #000;
  }
  .TableDate{
    text-align: center;
    padding: 0 5px;
  }
  .tableContent{
    text-indent: 3%;
    min-width: 240px;
  }
}
@media (max-width: 424px){
  table .tableContent{
    min-width: 160px;
  }
}
.td-last{
    i{
      padding-right: 3px;
    }
    font-size: 1rem;
    border: none;
    color: red;
    opacity: 0.9;
    font-weight: 800;
}
//個人資料
fieldset {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  legend {
    text-align: center;
    padding: 1em;
    font-size: var(--sectionTitle);
  }
  .custom_info_content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
}
.typeh3{
  padding: 20px 0 5px;
}
.purchaseType{
  max-width: 400px;
  display: flex;
  gap: 10px;
  align-items: center;
  label{
    display: block;
    input{
      width: 40px;
      height: 20px;
    }
  }
}
.customBox{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:20px;
  label {
    text-align: center;
    max-width: 100%;
    font-size: var(--sectionSmallTitle);
  }
}

@media(max-width:424px){ 
  :root{
    --sectionTitle:2.5rem;
    --sectionSmallTitle:1.5rem;
  }
  .customBox{
    gap:5px;
  }
}
.orderTitle{
  text-align: center;
  font-size: 2.5rem;
  border-bottom: 1px solid #000;
}
//過濾器
.filter_title{
  margin: 0 auto 5px;
  text-align: center;
  font-size: 2rem;
  // max-width: 80%;
  letter-spacing: 5px;
  // border-bottom: 2px solid hsl(120 80 50);
}
.filterbox{
  margin: 0 auto 12px;
  padding: 2.5% 5%;
  max-width: 760px;
  border: 2px solid hsl(120 80% 50%);
  width: 90%;
}
.filter_group{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;

  // label input{
  //   opacity: 0;
  // }
.isCheck{
    color: red;
    text-decoration: underline;
    font-size: 1.25rem;
}
label input{
  // display: block;
  height: 20px;
  aspect-ratio: 1/1;
}
}
.filter_option{
  width: 70%;
  label:not(last-child){
    margin-right: 10px;
  }
  input{
    cursor: pointer;
  }
}
.filterHeading{
  display: flex;
  justify-content: start;
}
.filter_btn{
  display: flex;
  justify-content: center;
  input{
    display: block;
    margin: 5px;
    min-width: 90px;
    color: hsl(230 90% 30%);
    &:hover{
      transform: scale(1.15);
    }
  }
}
//手風琴(書籍資料)
.accordion-item{
  h2{
    width: 100%;
    button{
      display: inline-block;
      text-align: center;
    }
  }
}
.accordion-body{
  background: #fffacd;
    table{
      width: 100%;
      tr{
        display: grid;
        grid-template-columns: 3fr 80px;
        th{
          text-align: center;
          padding: .5rem;
          font-size: 1.5rem;
          border: 1px solid #000;
        }
      }
      td{
        border: 1px solid #222;
      }
    }
  }
  @media (max-width: 768px){
    .accordion-body .td-bookname{
      letter-spacing: 0;
    }
    .accordion-body table tr{
      grid-template-columns: 3fr 50px;
    }

  }
.accordion-button{
  font-size: 1.5rem;
  padding: 10px 0;
}
.accordion-button:not(.collapsed){
  color: red;

}


.td-bookname{
  text-indent: 5px;
  padding: .5rem 0;
  letter-spacing: 2px;
  }
.td-booknum{
  input{
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 2rem;
  }
  }

//月考試題
.fw600{
  font-size: 1.1rem;
  font-weight: 600;
}
.examSelect_group{
  
  // width: 100%;
  display: flex;
  gap: 10px;
  justify-content: start;
  flex-flow: wrap;
  input[type="number"]{
    min-width: 40px;
    text-align: center;
  }
  select,input{
    font-size: 1.5rem;
    color:rgb(90, 90, 90);
    border-radius: 5px;
    overflow: scroll;
    option{
      color : inherit;
    }
}
}

.examOtherSchool{
  font-size: 1.5rem;
  color:rgb(90, 90, 90);
}
.examBtn{
  justify-content: end;
  button{
    padding: 5px;
    font-size: 1.25rem;
    border-radius: 5px;
  }
}
.warningText{
  padding: 5px;
  color:hsl(0 90% 60%);
  font-size: 1.1em;
  font-weight: 600;
  line-height: 1.2em;
}
.examLists{
  // border: 1px solid #000;
  li{
    border-bottom: 1px solid #000;
    width: fit-content;
    text-indent: 10px;
    list-style-type: disc;
  }
}
.x-cir-pd5{
  padding: 0 5px;
}
.x-cir-mg5{
  margin:  0 5px;
  border: none;
  background: none;
}

//訂購確認
.confirmOrder_title{

  text-align: center;
  h2{
      font-size: var(--sectionSmallTitle);
      border-bottom: 1px solid #000;
      max-width: 75%;
      margin: 0 auto;
    }
}
.confirmOrder{
  margin: 30px auto;
  border: 2px solid #777;
  width: 100%;
  min-height: 100vh;
  padding: 1em;
  .confirmOrderTitle{
    font-weight: 600;
    text-indent: 2%;
    border-bottom: 2px dotted #000;
    width: 100%;
  }
  .ConfirmCustomInfo_ul{
    // background: hsl(90 60% 70%);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    min-height: 50px;
      li{
      list-style-type: decimal;
      font-size: 28px;
      width: 100%;
      // min-width: 380px;
      padding: 10px 0;
      margin: 0 auto;
      text-align: left;

    }
  }
}
.SeniorOnly{
  font-size: 1.5rem;
  font-weight: 600;
  
}
//submit btn
.formBtn{
  padding: 50px 0;
  text-align: center;
  input{
    padding: 10px 30px;
    font-size: 2rem;
    background-color: #37bb65;
    color:#222;
    &:hover{
      color:red;
      font-weight: 600;
      background: #66ba84;
      transition : opacity .5s ease-out;
      opacity: .6;
    }
    &:active{
      background: #00fc5a;
      font-weight: 600;
      color:#fc7100;
    }
  }
}
@media(max-width:768px) {
  .container{
    width: 100vw !important;
    padding: 10px;
  }
  .td-booknum{
    font-size: .8rem;
  }
  .confirmOrder .ConfirmCustomInfo_ul li{
    font-size: 18px;
  }
}

@media (max-width:568px){
  .examLists{
    padding-left: 0px;
    li{
      list-style-type: none;
    }
  }
  .accordion-body{
    padding: 1rem .25rem;
  }
  .x-cir-mg5{
    margin: 2px;
  }
  .td-bookname{
    font-size: 18px;
  }
  .confirmOrder_title{
    h2{
      max-width: 98%;
      font-size: 22px;
      font-weight: 800;
    }
  .confirmOrder {
    margin: 15px auto;
  }
  }
  .confirmOrder .ConfirmCustomInfo_ul{
    padding: .5em;
  }
}
